

.about-p {
    font-size: 1.6em;
    padding: 0 1em;
}


* span {
    line-height:
}
.about-container {        
    display: flex;    
    flex-wrap: wrap;
    margin: 1vw;       
}

.about-section {   
    margin: 0.2rem;
    text-align: center;           
}

.about-section img {    
    max-width: 100%;
    max-height: 90%;           
}

.about-emphasis {
    font-size: 2em;       
}


.about-section-banner {
    font-size: 1.25em; 
    margin-top:40px;            
}

.about-section p {    
   padding-top: 1em;        
}

.about-images {
    display:flex;
    margin: 0 2vw;       
}

.about-img {
    margin: 0 5px;
    width:30vw;         
}
.about-img img {
    border-radius: 5%;
    box-shadow: 0px 5px 10px 0px var(--dark)
}

@media (max-width: 600px) {
body p {
    font-size:1em;
}
.about-container {
   margin:  1em 0 0 0.5em;
}
}