.hello-emphasis {
    margin: 2rem 0 0 35%;
    font-size: 3rem;    
}

.hello-section {   
    margin: 0.2rem;
    display: flex;  
    text-align: center;  
    margin-top: 10rem;     
}

.hello-section img {        
    margin-left: 10rem;  
}

.portrait {
    justify-content: center;
    height: 40vh;
}
@media (max-width: 1720px) {
    .hello-emphasis {
        font-size: 2rem;
        margin:1rem 0 0 35%;
    }
}

@media (max-width: 600px) {
    .hello-emphasis {
        font-size: 1.7rem;
        margin:3rem 1rem 0 1rem;
    }

    .hello-section img {        
        margin: -2rem 1rem 1rem 1rem
    }


}