
.banner {
    height: 10vh;    
    font-size: 8vh;
    margin: 2vh 0 0 2vw;    
    color: white;      
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    margin: 5vh 1vw;   
}

.card {    
    margin: 0.5vh;
    padding: 1vw;
}