
.banner {
    height: 10vh;    
    font-size: 8vh;
    margin-left: 2vw;
    color: white;
      
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
    margin: 5vh 0 5vh 0;   
}

.card {    
    margin: 3px;
    padding: 1vw;
}