.footer-container {
    display: flex;    
    height: 25vh;
    background-color: #01030b;
    margin-top:5rem;
}


.footer {
    width:33%;
    margin: 1%;  
    text-align: center;  
    color: white;
    font-size: 2em;
    line-height: 1.5;
}




