.footer-container {
    display: flex;    
    height: 15rem;
    background-color: #01030b;
    margin-top:5rem;  
}  
   


.footer {
    width:33%;
    margin: 1%;  
    text-align: center;  
    color: white;
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 2rem;
}
.resume {
    cursor: pointer;
}
@media (max-width: 600px) {
   

    .footer {
       width: 50%;
       font-size: 1.5rem;        
    }

    .mobile-hide {
        display: none;
    }
}



