.nav-container {    
    height: 10vh;
    position: sticky;   
    color: white;
    background-color: #01030b;
   }

.monogram {
    font-size: 7vh; 
    margin-left: 2%;
    }

.monogram a {
    text-decoration: none;
    }

.navLink {
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    margin: 1em 3em 0 0;          
   }

   .navLink * {
      margin: 1em;
      font-size: 1.5rem; 
      text-decoration: none;
   }

